.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-top: 10%;
  }
  
  .carousel-image {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  }
  
  .contact-button {
    position: absolute;
    bottom: 10px;
    right: 5%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F0ECE2;

  }
  
  .contact-button:hover {
    background-color: darkgray;
    color: white;
  }
  .carousel-buttons button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #F0ECE2;
  }

  .carousel-text {
    padding-top: 20px;
    color: black;
  }

  .carousel-text p {
    color: black;
    font-size: larger;
  }
